@import url(../style/geral.css);

/* Styles Compartilhados */
#headerPrincipal, main, #articleNoticias{
    width: 100%;
}

.noticia, .noticiaTexto{
    display: flex;
}



article, #articleNoticias, .noticiaTexto{
    flex-direction: column;
}

#navBar a, button, article h1, #articleNoticias .noticia .noticiaTexto h2,
#articleNoticias .noticia .noticiaTexto p{
    font-family: 'Roboto', sans-serif;
}


#headerPrincipal{
    height: 3.75em;
    justify-content: space-between;
    gap: 60px;
    background-color: var(--cor_principal);
    padding: 0 4%;
    box-shadow: 0px 3px 3px 3px rgb(233, 233, 233);
}

#headerPrincipal h1{
    font-family: 'Julius Sans One', sans-serif;
    color: var(--branco);
    grid-area: "logo";
}

#navBar{
    min-width: 500px;
    gap: var(--gap);
    position: relative;
}

#navBar a, button{
    font-size: 0.98rem;
    color: #fdfcfce8;
    text-decoration: none;
    opacity: 0.8;
}

#navBar #navBarBtNoticias{
    gap:2px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

#navBar #navBarBtNoticias img{
    height: 15px;
    width: 15px;
    transition: 0.5s;
}

#navBar #search{
    position: relative;
    margin-left: 30px;
}

#navBar #search #inputSearch{
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 2%;
    color: var(--branco);
}::placeholder{
    color: var(--branco);
    opacity: 0.5;
}

#navBar #search #btSearch{
    width: 30px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

#navBar #search #btSearch img{
    height: 25px;
    width: 25px;
}

#navBar #search hr{
    content: "";
    height: 1px;
    padding: 0 2%;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--branco);
    opacity: 0.5;
}

.icons{
    justify-content: center;
    gap: 30px;
}

.icons a img{
     height: 40px;
     width: 40px;
}

#dropDown{
    height: 100px;
    width: 500px;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
    background-color: var(--branco);
    border-left: 6px var(--cor_principal) solid;
    border-radius: 0px 0px 10px 10px;
    padding: 1%;
    box-shadow: 3px 3px 3px 2px rgba(197, 196, 196, 0.829);
    animation: drop;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

#dropDown td a{
    color: var(--preto);
}
main{
    height: auto;
    display: grid;
    grid-template-columns: 65% 35% ;
    grid-template-rows: auto auto ; 
    grid-template-areas: 
    "header header"
    "article aside";
    padding: 2% 4%;
    gap: 15px;
    position: relative;
}

#headerNoticia{
    height: auto;
    min-height: 600px;
    grid-area: header;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#headerNoticia #newsFirst, #headerNoticia #newsSecond, #newsThird{
    border-radius: 20px ;
    box-shadow: 3px 3px 3px 2px rgba(230, 229, 229, 0.89)

}
#headerNoticia #newsFirst{
    padding: 2%;
    height: calc(80% + 15px);
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}
#headerNoticia #newsFirst:hover{
    transform: scale(1.005);
}

#noticiasSecundarias{
    width: auto;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#headerNoticia #newsSecond, #newsThird{
    height: 40%;
    width:  500px;
    max-width: 500px;
}

article{
    grid-area: article;
    height: auto;
    gap: 20px;
}

article h1{
    font-size: 2.2rem;
    color: var(--preto);
}

#articleNoticias{
    height: auto;
}

#articleNoticias .noticia{
    justify-content: left;
    align-items: center;
    height: 200px;
    width: 90%;
    gap: 30px;
    cursor: pointer;
    position: relative;
}

#articleNoticias .noticia::after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: var(--cor_principal);
}
#articleNoticias .noticia img{
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    border-radius: 20px;
}

#articleNoticias .noticia .noticiaTexto{
    gap:15px;
   
}

#articleNoticias .noticia .noticiaTexto h2{
    font-size: 1.4rem;
    color: var(--cor_principal);  
}

#articleNoticias .noticia .noticiaTexto p{
    font-size: 0.85rem;
    color: var(--preto);
    text-align:justify;
    max-width: 500px;
    opacity: 0.9;
}

aside{
    grid-area: "aside";
    background-color: aqua;
}


footer{
    height: 20%;
    background-color: var(--cor_principal);
}

/* CSS and JS */

.desativado{
    display: none;
}

.btNoticiaAtivado{
    transform: rotate(90deg);
}

.menu-ativo{ 
    color: #fdfcfc;
    opacity: 1;
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 2;
}


/* Hover and animation */

#navBar > a:hover, button:hover{
    color: #fdfcfc;
    opacity: 1;
}

.icons a img:hover{
    filter: drop-shadow(0px 0px 3px rgb(238, 238, 241));
}


@keyframes drop {
    0% { height: 0%;}
    100% {height: 100px;}
}


